{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/item_show.css' %}">    
{% endblock css %}
    

{% block content %}
    <div class="container">
        {% if item.image %}
            <img src="{{ item.image.url }}" class="img-fluid" alt="Responsive image">
        {% endif %}
        <br>
        <div class="item_show__item_infos">
            <p class="item_show__item_name">{{ item.name }}</p>
            <p class="item_show__item_price">{{ item.price|intcomma }}원</p>
            <p class="item_show__item_description">{{ item.description }}</p>
        </div>
        <a href="{% url 'items:like_toggle' item.id %}">
            {% if request.user in item.liked_users.all %}
                <i class="icon ion-ios-heart"></i>
            {% else %}
                <i class="icon ion-ios-heart-empty"></i>
            {% endif %}
        </a>

        <form action="{% url 'items:create_review' item.id %}" method="POST" style="margin-top: 50px;">
        {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" name="body" placeholder="리뷰 달기..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary right">작성</button>
        </form><br>

        {% if item.reviews %}
            <ul class="list-group" style="margin-top: 40px;">
                {% for review in item.reviews %}
                    {% include 'reviews/_review.html' with review=review user=user %}
                {% endfor %}
            </ul>
        {% endif %}

    </div>
{% endblock content %}
    